<div class="container">
  <h1><%= @user.username %></h1>

  <h3>Posts</h3>
  <ul>
    <% @user.links.sort_by{|l| l.created_at}.each do |l| %>
      <li><%= l.title %><%=l.created_at.strftime(" created on %B %d\, %Y  at %I\:%M %p") %> </li>
    <% end %>
  </ul>
  <%= link_to "Delete user", user_path(id:@user.id), method:'delete' %>
</div>
