<div class="container-fluid">



  <div class="links-container col-xs-12 col-md-10">
    <ol>
      <%= render "links/linkinfo" %>
    </ol>
    <%= will_paginate @links %>
  </div>
  <div class="users-container col-xs-12 col-md-2">
    <h4 class="text-center"> Popular Subbests </h4>
    <ol>
      <% Subcategory.all.sort_by{|s| s.links.count}.reverse.each do |s| %>
        <li>
          <%= link_to s.name, subcategory_path(name:s.name) %>
        </li>
      <% end %>
    </ol>
  </div>
</div>
