// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.status{
  margin:0;
  padding:0;
}
.votes p{
  margin-left: 3px;
  margin-bottom: 0;
}
.rank, .voting, .voting a{
  padding:0;
  color: #999;
}
.rank p{
  margin-top: 20px;
  margin-left: 8px;

}
.post {
  border-bottom: 1px solid #E6F3F7;
}
.post:nth-child(odd){
  background-color: #E6F3F7;
}
.links-container ol {
  padding-left: 0;
}

.subcat p, .author p{
  font-size: .8em;
  margin: 0;
}
.delete, .edit, .info {
  padding-top: 20px;
}
.summary{
  margin-top: 5px;
  background-color: #E6F3F7;
}
